################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/Restaurant/Debug
/Code/Debug
/Code/.vs/Restaurant/v16/Browse.VC.db
/Code/.vs/Restaurant/v16/.suo
/Output Files
/Code/.vs/Restaurant/v16
