################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/.vs/Restaurant/v16
/Code/Debug
/Code/Restaurant/Debug
/.vscode
